html,body{
    height:100%;
}

.block1{
    background-color: #254063;
    height: 96px;
    margin-bottom: 10px;
}

.block2{
    background-color: #254063;
    height: 10px;
}

.btn-outline-primary{
    color:#5380b7;
    border-color:#5380b7;
}

.btn-outline-primary:hover{
    background-color:#5380b7;
}

.container{
    height: 100%;
}


