.block1{
    display: block;
    background-color: #254063;
    height: 10%;
    width:100%;
    margin-bottom: 1%;
}

.block2{
    display: block;
    background-color: white;//#254063;
    height: 1%;
}

.container{
    height: 100%;
}

<<<<<<< HEAD
.nav-item a{
    margin-top:5%;
}

.nav {
    margin-top: 2%;
}
=======

>>>>>>> 681f72f6e67bb7dab76ed3fa8815abf777328fd6
